{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="margin: auto; max-width: 425px; padding: 50px 5%">
    <div>
        <p style="font-weight: bold; padding-top: 50px">Use this tool to search for products in Atlanta toy stores and support our local businesses!</p>
    </div>
    <p>*May take up to 20 seconds to fetch results</p>
    <form action="" method="post">
        <p>
            {{form.term(size=30)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>
{% endblock content %}