{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="margin: auto; width: 425px; margin-top: 50px">
    <h5>Support local Atlanta toy stores!</h5>
    <h3>Search Term</h3>
    <p>*May take up to 20 seconds to fetch items</p>
    <form action="" method="post">
        <p>
            <!-- {{form.term.label}}<br> -->
            {{form.term(size=50)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>
{% endblock content %}